.app {
  height: 100vh;
  background-color: #2f2e2a;
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
}

body {
  margin: 0;
}

.game {
  height: fit-content;
}

.game h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 50px;
}
