body {
  margin: 0;
}

.app {
  height: 100vh;
  background-color: #2f2e2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center; 
  height: auto;
}

