.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 2px solid black;
    width: fit-content;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #779556;
}

.white {
    background-color: #ebecd0;
}

.selected {
    background-color: grey;
}

.hovered {
    box-shadow: inset 0 0 0 8px rgba(255, 255, 255, 0.7); /* Creates an inner white border */
}



.piece {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}

.piece img {
    width: 100%;
    height: 100%;
}

.selected-piece {
    cursor: grabbing;
}