.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 2px solid black;
    width: fit-content;
}

.square {
    width: 100px;
    height: 100px;
}

.black {
    background-color: #779556;
}

.white {
    background-color: #ebecd0;
}